<div>
    Welcome Binding
</div>
<div id="head">
    <h1>ANGULAR</h1><br>
    </div>
    
    <div id="ff">
      
     <img  id="ang" src="https://images.indepth.dev/images/2022/05/External-Configurations-in-Angular-2.jpg">
    </div>
    {{fullstack}}
    <a [href]="url">click this</a><br><br>   
    <input type="button" value="OK" (click)="ang()">
    {{stack}}
    <input type="text" [(ngModel)]="stack">
    <div *ngIf="show">
        aimour aimour 
    </div>
    <div *ngFor="let e of aray">
        {{e}}</div>
    <div class="oppo">oppo</div>
    <div [ngClass]="vary">heloooooooooooooooooo</div>
    <div [ngStyle]="style">GREEN</div>
    <br>
    <div *ngIf="ok">hy buddy
    
    </div>
    <input type="button" value="show/hide"(click)="yes()">
    
    <welcome [name]="'geethan'" ></welcome>
  
    <welcome (hi)="aio($event)"></welcome>
    
    <br><br>
    <input type="text"[(ngModel)]="value">
    <input type="button" value="add"(click)="hlo()">
    <ul><li *ngFor="let a of flow">{{a}}</li></ul> 
    <br><br>
   
    
    
    
   