   <!-- for uppercase /lowercase  -->
{{position|uppercase}}<br><br>
<!-- x.y-z--y-mim z-max -->
{{num|number:'1.2-4'}}<br><br>
<!-- for find percentage -->
{{1|percent}}<br><br>
<!-- for date  -->
{{day}}<br>
{{day|date}}<br>
<br><br>
<h3>DATE&TIME</h3>
{{day|date:'short'}}<br><br>
{{day|date:'medium'}}<br><br>
{{day|date:'long'}}<br><br>
{{day|date:'full'}}<br><br>
<h3>DATE</h3>
{{day|date:'shortDate'}}<br><br>
{{day|date:'mediumDate'}}<br><br>
{{day|date:'longDate'}}<br><br>
{{day|date:'fullDate'}}<br><br>

<h3>TIME</h3>
{{day|date:'shortTime'}}<br><br>
{{day|date:'mediumTime'}}<br><br>
{{day|date:'longTime'}}<br><br>
{{day|date:'fullTime'}}<br><br>
<h3>CUSTOM</h3>
{{day|date:'d-M-y'}}<br><br>
{{day|date:'dd-MM-yy'}}<br><br>
{{day|date:'d-MMM-y'}}<br><br>
{{day|date:'d-MMMM-y'}}<br><br>
{{day|date:'d-MMM-y-h'}}<br><br>
{{day|date:'d-MMM-y-hh'}}<br><br>
{{day|date:'d-MMM-y-h-m'}}<br><br>
{{day|date:'d/MMM/y-h:m:s'}}<br><br>

<h3>OBJECT</h3>
{{person|json}}

<h3>CURRENCCY PIPE</h3>
{{1000|currency:'INR'}}<br><br>

<h3>CUSTOMPIPE</h3>
{{position|custompipe:'geethan'}}
<p>pipes works!</p>
               
<h3>SERVICE</h3>
{{sharedService.think}}

<br>
<input type="button" value="ok"(click)="btt()">