
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="lap">
            <a class="side-nav" [routerLink]="['dell']">DELL</a> 
            <a class="side-nav" [routerLink]="['/']">HP</a>
            <a class="side-nav" [routerLink]="['/']">LENOVA</a> 
            <a  class="side-nav" [routerLink]="['/']">ACER</a>
            <a  class="side-nav" [routerLink]="['/']">ASUS</a>
    </div>
</body>
</html>
<router-outlet></router-outlet>