
<!-- <input type="button"value="products"(click)="pro()">
<input  type="button"value="Binding"(click)="bin()">
<br><br>
<binding *ngIf="binding">hlo

</binding><br><br>
<app-products *ngIf="product">hy

</app-products> -->


   
    <!-- </div> -->
        
            <!-- <a class="navs" [routerLink]="['/binding']">BINDING</a> -->

             <!-- <a class="nav" [routerLink]="['/products']">PRODUCT</a>  -->
             
             <!-- <a class="navi" [routerLink]="['/directives']">DIRECTIVES</a> -->
            <!-- <a class="nav" [routerLink]="['/pipes']">PIPES</a> -->
            <!-- <a class="nan"[routerLink]="['/templatedriven']">TEMPLATEDRIVEN</a><br><br> -->
            <!-- <span> -->
            <!-- <a class="non"[routerLink]="['/reactiveform']">REACTIVEFORM</a><br> -->
            <!-- <a class="nen"[routerLink]="['/clienthttp-extendservice']">clienthttp-extendservice</a></span> -->
                <!-- <a class="n"[routerLink]="['/animation']">ANIMATION</a>     -->
          <!-- </div> -->
   
          <nav class="nav">
    
            <a class="nav-link"  [routerLink]="['/binding']">BINDING </a>
            <a class="nav-link" [routerLink]="['/products']">PRODUCT</a>
            <a class="nav-link" [routerLink]="['/directives']">DIRECTIVES</a>
            <a class="nav-link" [routerLink]="['/pipes']">PIPES</a>
            <a class="nav-link"[routerLink]="['/templatedriven']">TEMPLATEDRIVEN</a>
            <a class="nav-link"[routerLink]="['/reactiveform']">REACTIVEFORM</a>
            <a class="nav-link"[routerLink]="['/clienthttp-extendservice']">CLIENTHTTP-EXTENDSERVICE</a>
            <a class="nav-link"[routerLink]="['/animation']">ANIMATION</a>  
            <a class="nav-link"[routerLink]="['/routeparam']">ROUTEPARAM</a>
            <a class="nav-link"[routerLink]="['/gurads']">GURADS</a>
            <input class="navb" type="text"/>  
          </nav><br>
        
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body class="aa">
      
       <div id="geethan" class="container">
            <a class="lin"  [routerLink]="['/laptops']">LAPTOP</a>
            <a class="lin"  [routerLink]="['/moblies']">MOBLIE</a>
            <a class="lin"  [routerLink]="['/earphones']">EARPHONE</a>
          </div>
    </body>
    </html>
         


<!-- <welcome >what ! </welcome> -->
<router-outlet></router-outlet>


