#ang{
    width:30%;
  }
  
#ff{
   
    border-radius: 120px;
 opacity: 100px;

}
#head{
padding-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(107, 3, 38);
  background-color: palevioletred;

  outline: rgba(40, 0, 77, 0.747);
  border-radius: 13px;
  border:blueviolet;
}
.oppo{
  background-color: burlywood;
  font-size:larger;
 
}
.nav{
  margin: 11px;
  border-radius: 32px;
  background-color:  rgb(197 255 0);
font-family: monospace;
width: 95%;
height: 40px;
box-shadow: 0 0 20px rgba($color: #3f5000, $alpha: 1.0)

}
a{
  color: rgb(1, 63, 50);
}
.navb{
  border-radius: 20px;
  position: relative;
  height: 20px;
  width: 60px;
  padding-bottom: 
  20px;
 
 margin-top: 8px;
 margin-left: 60px;
 background-image: url('https://www.shutterstock.com/image-vector/search-icon-trendy-flat-style-260nw-1015524934.jpg');
background-size: contain;
background-repeat: no-repeat;
}

//SECOND NAV BAR ODA BACKGROUND WIDTH
.aa{
  width: 100%;
  background-color: rgb(97, 0, 84);

}
//CONTAINER ULLA IRUKURA CONTENT
.aa .container {
 //margin-left: 300px ;
  //margin: 10px;
//border-left: 32px;
//width: 2000px;
  background-color: rgb(97, 0, 84);
font-family: Georgia, 'Times New Roman', Times, serif;
  
  height: 40px;
  box-sizing: border-box;

  //BUTTONS ODA CSS LIN
}
.lin{
  width: 29%;
display:inline-block ;
 padding: 0.5rem 6rem
}
//BUTTONS ODA FONT CSS 
.container a{
  color: #effffe;
  text-decoration: none;
 background-color: transparent;
 display: inline-block;
}
//color: #ebecee;
 

 
  




